.html-container
{
  &--web {
    width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(4, 1fr);
  }
  &--tablet {
    width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
  }
  &--handset {
        width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
  }
}
.fileDropZone
{
  &--web {
    grid-column: 1/10;
    grid-row: 1;
  width: 400px;
  height: 200px;
  margin-left: 20px;
  text-align: center;
  position:absolute;
  border: dashed 3px black;
  margin-top: 20px;
  font-family: Roboto;
  & a {
    font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  }}
}
#upload
{
  &--web {
    margin-top: 10px ;
    margin-bottom: 10px;
  }
}
#fileDropRef {
  &--web {
        grid-column: 1/10;
    grid-row: 1;
  opacity: 0;
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid black
  }
}

.fileDropRef {
  &--web {
    grid-column: 1/10;
    grid-row: 1;
  color: black;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #cb99c946;
  padding: 8px 24px;
  position: absolute;
  /* text-align: center; */
  margin-top: 20px;
  font-size: 20px;
  margin-left: 100px;
  }
}

input#fileDropRef
{
      grid-column: 1/10;
    grid-row: 1;
    position: absolute;
  margin-right: 80px;
  display: block;
  margin-left: 0px;
  margin-top: 0px;
}
.colorPicker {
  &--web {
    grid-column: 1;
    grid-row: 2;
    margin-left: 20px;
    & input {
      padding: 0px;
      background-color: #eccdf2;
      width: 40px;
      height: 40px;
    }
  }
}
