.html-container {
    width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
}
h1 {
    font-size: 50px;
    grid-column: 4/8;
    grid-row: 1/2;
}
.infobox-filter {
    grid-column: 2/5;
    grid-row: 4/6;
    text-align: center;
    
}