.html-container {
    &--web {
        width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    &--tablet {
        width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    &--handset {
        width: 100%;
        height: 100%;
        gap: 16px;
        background-color: #e2abe956;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}

.fileDropZone {
    &--web {
        grid-column: 6/9;
        border: dashed 3px black;
        text-align: center;
        align-items: center;
        margin-left: 20px;
        margin-top: 20px;
        width: 300px;
        height: 150px;

        & a {
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &--tablet {
        border: dashed 3px black;
        text-align: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        width: 300px;
        height: 150px;
        grid-column: 1/5;
        grid-row: 1/3;

        & a {
            font-size: 20px;
            padding-top: 8px;
            padding-bottom: 10px;
        }
    }

    &--handset {
        border: dashed 3px black;
        text-align: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        grid-column: 1/4;
        grid-row: 1/3;
        width: 300px;
        height: 150px;

        & a {
            font-size: 20px;
            padding: 8px;
        }
    }
}

.fileDropWithButtons {
    &--web {
        text-align: center;
        align-items: center;
        grid-column: 5/9;
        grid-row: 1;
        width: 300px;
        height: 300px;
        margin-left: 100px;

    }

    &--tablet {
        text-align: center;
        align-items: center;
        grid-column: 1/5;
        grid-row: 1/3;
        width: 300px;
        height: 400px;
        margin-left: 20px;

    }

    &--handset {
        grid-column: 1/4;
        grid-row: 1/3;
        text-align: center;
        align-items: center;
        width: 300px;
        height: 400px;
        margin-left: 20px;
    }
}

.browse {
    &--web {
        border-radius: 6px;
        background-color: rgba(114, 36, 187, 0.397);
        width: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 15px;
        padding: 10px;
        margin-left: 75px;
    }

    &--tablet {
        border-radius: 6px;
        background-color: rgba(114, 36, 187, 0.397);
        width: 60%;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        padding: 10px;
        margin-left: 60px;
        margin-top: 10px;
    }

    &--handset {
        border-radius: 6px;
        background-color: rgba(114, 36, 187, 0.397);
        width: 60%;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        padding: 10px;
        margin-left: 60px;
        margin-top: 10px;
    }
}

.percentage {

    &--web {
        grid-column: 5/8;
        grid-row: 3/5;
        height: 150px;
        width: 150px;
        margin-top: 30px;
        margin-left: 120px;
        text-align: center;
        opacity: 0;
    }

    &--tablet {
        grid-column: 3/6;
        grid-row: 3/5;
        height: 150px;
        width: 150px;
        margin-top: 90px;
        margin-left: 330px;
        text-align: center;
        opacity: 0;
    }

    &--handset {
        grid-column: 2/4;
        grid-row: 3/5;
        opacity: 0;
        align-items: center;
        margin-top: 10px;
        margin-left: 120px;
        text-align: center;
        height: 150px;
        width: 150px;
    }
}

.canvas {

    &--web {
        grid-column: 5/8;
        grid-row: 1/6;
    }

    &--tablet {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    &--handset {
        grid-column: 1/3;
        grid-row: 1/3;
    }
}

.editCanvas {
    &--web {
        grid-column: 5/8;
        grid-row: 3/6;
        margin-top: -180px;
        margin-left: 70px;
    }

    &--tablet {
        grid-column: 1/5;
        grid-row: 3;
        margin-top: -50px;
        margin-left: 40px;
    }

    &--handset {
        grid-column: 1/4;
        grid-row: 3/4;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.fileDropRef {
    &--web {
        grid-column: 5/9;
        grid-row: 1/6;
    }

    &--tablet {
        grid-column: 1/5;
        grid-row: 1/3;
    }

    &--handset {
        grid-column: 1/4;
        grid-row: 1/3;
    }
}

.filterSelect {

    &--web {
        grid-column: 1/6;
        grid-row: 1/3;
        margin-left: 25px;
        margin-top: 20px;
        font-size: 20px;
        margin-right: 70px;
    }

    &--tablet {
        grid-column: 1/5;
        grid-row: 4;
        margin-left: 25px;
        margin-top: 0px;
        font-size: 20px;
    }

    &--handset {
        grid-column: 1/4;
        grid-row: 4;
        font-size: 20px;
        margin-left: 20px;
        margin-top: 10px;
    }
}

.checkboxes {
    &--web {
        grid-column: 1/5;
        grid-row: 2;
        margin-left: 25px;
        font-size: 15px;
        margin-top: -20px;
        background-color: #eccdf2;
    }
    
    &--tablet {
        grid-column: 1/5;
        grid-row: 4;
        margin-left: 25px;
        font-size: 15px;
        margin-top: 100px;
        background-color: #eccdf2;
    }
    
    &--handset {
        grid-column: 1/5;
        grid-row: 5;
        padding-left: 25px;
        font-size: 12px;
        margin-top: -20px;
        background-color: #eccdf2;
    }
}

.chip-filters {
    &--web {
        grid-column: 1/5;
        grid-row: 3/9;
        margin-top: 100px;
    }

    &--tablet {
        grid-column: 1/5;
        grid-row: 5/9;
        margin-top: 10px;
    }

    &--handset {
        grid-column: 1/5;
        grid-row: 5/9;
        margin-top: 250px;
    }
}

.buttons {
    &--web {
        grid-column: 3/7;
        grid-row: 2;
        margin-top: 30px;
        margin-left: 0px;

        & button {
            margin-top: 20px;
            margin-left: 40px;
        }
    }

    &--tablet {
        grid-column: 3/6;
        grid-row: 2;
        margin-top: 20px;
        margin-left: 40px;

        & button {
            margin-top: 20px;
            margin-right: 0px;
        }
    }

    &--handset {
        grid-column: 3/6;
        grid-row: 2;
        margin-top: 20px;
        margin-left: 40px;

        & button {
            margin-top: 20px;
            margin-right: 0px;
        }
    }
}

#fileDropRef {
    &--web {
        margin-top: 20px;
        position: absolute;
        display: block;
        opacity: 0;
        width: 300px;
        height: 150px;
        margin-left: 120px;
    }

    &--tablet {
        margin-top: 20px;
        position: absolute;
        display: block;
        opacity: 0;
        position: absolute;
        display: block;
        width: 300px;
        height: 150px;
        opacity: 0;
        margin-left: 40px;
    }

    &--handset {
        margin-top: 20px;
        margin-left: 40px;
        position: absolute;
        display: block;
        width: 300px;
        height: 150px;
        opacity: 0;
    }
}

#upload {
    &--web {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    &--tablet {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    &--handset {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#uploaded_im {
    &--web {
        width: 300px;
        height: 150px;
        margin-top: 20px;
        position: absolute;
        margin-left: 120px;
    }

    &--tablet {
        margin-top: 20px;
        position: absolute;
        width: 300px;
        height: 150px;
        margin-left: 40px;
    }

    &--handset {
        margin-top: 20px;
        position: absolute;
        width: 300px;
        height: 150px;
        margin-left: 40px;
    }
}

#bitmap {
    &--web {
        max-width: 400px;
        max-height: 225px;
        width: 500px;
        height: 260px;
    }

    &--tablet {
        width: 300px;
        height: 169px;
        max-width: 300px;
        max-height: 169px;
        margin-left: 0px;
    }

    &--handset {
        width: 300px;
        height: 169px;
        max-width: 300px;
        max-height: 169px;
        margin-left: 30px;
    }
}
// #divider {
//     &--web {
//         grid-column: 4/6;
//         grid-row: 1/4;
//         margin-top: 15px;
//         margin-right: 120px;
//     }
//     &--tablet {

//     }
//     &--handset {

//     }
// }
#divider {
    &--web {
        margin: 5px; 
        margin-left: -10px;
        max-width: 250px;
        width: 110%;
        background-color: #eccdf2;
    }
    
    &--tablet {
        width: 103%;
        margin: 5px;
        margin-left: -25px;
        background-color: #eccdf2;
        
    }
    
    &--handset {
        width: 104%;
        margin: 5px;
        margin-left: -25px;
        background-color: #eccdf2;
    }
}
#divider1 {
    &--web {
        background-color: #eccdf2;
        margin: 10px; 
        margin-left: 0px; 
        margin-top: -60px;
        max-width: 250px;
        width: 98%;
    }
    &--tablet {
        background-color: #eccdf2;
        margin-top: 10px;
        margin-left: -25px;
        margin-bottom: 10px;
    }
    &--handset {
        background-color: #eccdf2;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -25px;
    }
}
#divider2 {
    &--web {
        max-width: 250px;
        width: 110%;
        margin-left: 15px;
        margin-top: -130px;
        margin-bottom: 10px;
        background-color: #eccdf2;
    }
    
    &--tablet {
        width: 104%;
        margin: 5px;
        margin-left: -25px;
        width: 103%;
        background-color: #eccdf2;
    }
    
    &--handset {
        width: 104%;
        margin: 5px;
        margin-left: -25px;
        margin-bottom: 10px;
        background-color: #eccdf2;
    }
}
.speedSlider
{
    &--web {
        grid-column: 1/5;
        grid-row: 2/4;
        margin-top: 80px;
        margin-left: -10px;
    }

    // &--tablet {

    // }

    // &--handset {

    // }
}
// div {
//     background-color: #eccdf2;
// }