


.html-container
{
  width: 100%;
  height: 100%;
  gap: 16px;
  background-color: #e2abe956;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .html-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
   .filterSelect {
    grid-column: 1/4;
    grid-row: 4;
  }
  .checkboxes {
    grid-column: 1/5;
    grid-row: 4;
  }
  .chip-filters {
    grid-column: 1/5;
    grid-row: 5/9;
  }
  .percentage {
    grid-column: 3/6;
    grid-row: 3/5;
  }
  .fileDropZone {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .fileDropWithButtons {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .canvas {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .buttons {
    grid-column: 3/6;
    grid-row: 2;
  }
  .editCanvas {
    grid-column: 1/5;
    grid-row: 3/5;
  }
  .fileDropRef {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .filterSelect {
    margin-left: 25px;
    margin-top: 0px;
    font-size: 20px;
  }
  .checkboxes {
    margin-left: 25px;
    font-size: 12px;
    margin-top: 100px;
  }
  .fileDropWithButtons {
    text-align: center;
    width: 300px;
    height: 400px;
    margin-left: 20px;
  }
  .fileDropZone{  
    margin-top: 20px;
    width: 300px;
    height: 150px;
    border: dashed 3px black;
    text-align: center;
  }
  .fileDropZone a {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .browse {
    border-radius: 6px;
    background-color: rgba(114, 36, 187, 0.397);
    width: 50%;
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
    margin-left: 70px;
    margin-top: 10px;
  }
  #upload {
    margin-top: 10px;
    margin-bottom: 7.5px;
  }
  .percentage {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  .chip-filters {
    margin-top: -10px;
  }
  #fileDropRef {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 300px;
    height: 150px;
    opacity: 0;
  }
  #uploaded_im {
    margin-top: 20px;
    position: absolute;
    width: 300px;
    height: 150px;
    margin-left: 20px;
  }
  .buttons {
    margin-top: 20px;
    margin-left: 45px;
  }
  .buttons button {
    margin-top: 20px;
    margin-right: 30px;
  }
  .editCanvas {
    margin-top: 0px;
    margin-left: 20px;
  }
  #bitmap {
    width: 300px;
    height: 150px;
    max-width: 300px;
    max-height: 150px;
  }
  .percentage {
    margin-top: 130px;
    margin-left: 330px;
    text-align: center;
  }
  #percentage {
    opacity: 0;
  }
  #circle {
    margin-left: 30px;
  }
  .percentage a {
    margin-left: 4px;
  } 
}

@media only screen and (min-width: 600px) {
.html-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
   .filterSelect {
    grid-column: 1/5;
    grid-row: 3;
  }
  .checkboxes {
    grid-column: 1/5;
    grid-row: 3;
  }
  .chip-filters {
    grid-column: 1/5;
    grid-row: 4/9;
  }
  .percentage {
    grid-column: 3/6;
    grid-row: 3/5;
  }
  .fileDropZone {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .fileDropWithButtons {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .canvas {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .buttons {
    grid-column: 3/6;
    grid-row: 2;
  }
  .editCanvas {
    grid-column: 1/5;
    grid-row: 4/9;
  }
  .fileDropRef {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .filterSelect {
    margin-left: 25px;
    margin-top: -80px;
    font-size: 20px;
  }
  .checkboxes {
    margin-left: 25px;
    font-size: 12px;
    margin-top: 20px;
  }
  .fileDropWithButtons {
    text-align: center;
    width: 450px;
    height: 400px;
    margin-left: 20px;
  }
  .fileDropZone{  
    margin-top: 20px;
    width: 450px;
    height: 225px;
    border: dashed 3px black;
    text-align: center;
  }
  .fileDropZone a {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .browse {
    border-radius: 6px;
    background-color: rgba(114, 36, 187, 0.397);
    width: 50%;
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 20px;
  }
  #upload {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .percentage {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  .chip-filters {
    margin-top: -70px;
  }
  #fileDropRef {
    margin-top: 20px;
    position: absolute;
    display: block;
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 450px;
    height: 225px;
    opacity: 0;
    opacity: 0;
  }
  #uploaded_im {
    margin-top: 20px;
    position: absolute;
    width: 450px;
    height: 225px;
    margin-left: 20px;
  }
  .buttons {
    margin-top: 20px;
    margin-left: 45px;
  }
  .buttons button {
    margin-top: 20px;
    margin-right: 30px;
  }
  .editCanvas {
    margin-top: -50px;
    margin-left: 275px;
  }
  #bitmap {
    width: 300px;
    height: 150px;
    max-width: 300px;
    max-height: 150px;
  }
  .percentage {
    margin-top: 130px;
    margin-left: 330px;
    text-align: center;
  }
  #percentage {
    opacity: 0;
  }
  #circle {
    margin-left: 30px;
  }
  .percentage a {
    margin-left: 4px;
  } 
}

@media only screen and (min-width: 840px) {
.html-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
   .filterSelect {
    grid-column: 1/5;
    grid-row: 3;
  }
  .checkboxes {
    grid-column: 1/5;
    grid-row: 3;
  }
  .chip-filters {
    grid-column: 1/5;
    grid-row: 4/9;
  }
  .percentage {
    grid-column: 3/6;
    grid-row: 3/5;
  }
  .fileDropZone {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .fileDropWithButtons {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .canvas {
    grid-column: 1/3 ;
    grid-row: 1/3;
  }
  .buttons {
    grid-column: 3/6;
    grid-row: 2;
  }
  .editCanvas {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .fileDropRef {
    grid-column: 1/3 ;
    grid-row: 1/3;
  }
  .filterSelect {
    margin-left: 25px;
    margin-top: -80px;
    font-size: 20px;
  }
  .checkboxes {
    margin-left: 25px;
    font-size: 12px;
    margin-top: 20px;
  }
  .fileDropWithButtons {
    text-align: center;
    width: 300px;
    height: 400px;
    margin-left: 20px;
  }
  .fileDropZone{  
    margin-top: 20px;
    width: 300px;
    height: 150px;
    border: dashed 3px black;
    text-align: center;
  }
  .fileDropZone a {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .browse {
    border-radius: 6px;
    background-color: rgba(114, 36, 187, 0.397);
    width: 50%;
    vertical-align: middle;
    font-size: 16px;
    padding: 3px;
    margin-left: 75px;
    margin-top: 10px;
  }
  #upload {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .percentage {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  .chip-filters {
    margin-top: -70px;
  }
  #fileDropRef {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 300px;
    height: 150px;
    opacity: 0;
  }
  #uploaded_im {
    margin-top: 20px;
    position: absolute;
    width: 300px;
    height: 150px;
    margin-left: 20px;
  }
  .buttons {
    margin-top: 20px;
    margin-left: 45px;
  }
  .buttons button {
    margin-top: 20px;
    margin-right: 30px;
  }
  .editCanvas {
    margin-top: 20px;
  }
  #bitmap {
    max-width: 300px;
    max-height: 150px;
    width: 300px;
    height: 150px;
  }
  .percentage {
    margin-top: -100px;
    margin-left: 435px;
    text-align: center;
  }
  #percentage {
    opacity: 0;
  }
  #circle {
    margin-left: 30px;
  }
  .percentage a {
    margin-left: 4px;
  } 
}

@media only screen and (min-width: 1200px) {
  .html-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
   .filterSelect {
    grid-column: 1/4;
    grid-row: 3;
  }
  .checkboxes {
    grid-column: 1/4;
    grid-row: 4;
  }
  .chip-filters {
    grid-column: 1/3;
    grid-row: 4/9;
  }
  .percentage {
    grid-column: 3/6;
    grid-row: 3/5;
  }
  .fileDropZone {
    grid-column: 1/5;
    grid-row: 1;
  }
  .fileDropWithButtons {
    grid-column: 1/5;
    grid-row: 1/6;
  }
  .canvas {
    grid-column: 3/6 ;
    grid-row: 1/6;
  }
  .buttons {
    grid-column: 3/6;
    grid-row: 2;
  }
  .editCanvas {
    grid-column: 4/9;
    grid-row: 1/6;
  }
  .fileDropRef {
    grid-column: 3/6 ;
    grid-row: 1/6;
  }
  .filterSelect {
    margin-left: 25px;
    margin-top: -20px;
    font-size: 20px;
  }
  .checkboxes {
    margin-left: 25px;
    font-size: 12px;
  }
  .fileDropWithButtons {
    text-align: center;
    width: 300px;
    height: 400px;
    margin-left: 20px;
  }
  .fileDropZone{  
    margin-top: 20px;
    width: 300px;
    height: 150px;
    border: dashed 3px black;
    text-align: center;
  }
  .fileDropZone a {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .browse {
    border-radius: 6px;
    background-color: rgba(114, 36, 187, 0.397);
    width: 50%;
    vertical-align: middle;
    font-size: 16px;
    padding: 3px;
    margin-left: 75px;
    margin-top: 10px;
  }
  #upload {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .percentage {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  .chip-filters {
    margin-top: 130px;
  }
  #fileDropRef {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 300px;
    height: 150px;
    opacity: 0;
  }
  #uploaded_im {
    margin-top: 20px;
    position: absolute;
    width: 300px;
    height: 150px;
    margin-left: 0px;
  }
  .buttons {
    margin-top: 20px;
    margin-left: 45px;
  }
  .buttons button {
    margin-top: 20px;
    margin-right: 30px;
  }
  .editCanvas {
    margin-top: 20px;
  }
  #bitmap {
    max-width: 300px;
    max-height: 150px;
    width: 300px;
    height: 150px;
  }
  .percentage {
    margin-top: 30px;
    margin-left: 75px;
    text-align: center;
  }
  #percentage {
    opacity: 0;
  }
  #circle {
    margin-left: 30px;
  }
  .percentage a {
    margin-left: 4px;
  } 
}

@media only screen and (min-width: 1200px) {
  .html-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
   .filterSelect {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .checkboxes {
    grid-column: 1/3;
    grid-row: 2;
  }
  .chip-filters {
    grid-column: 1/3;
    grid-row: 2/9;
  }
  .percentage {
    grid-column: 3/6;
    grid-row: 3/5;
  }
  .fileDropWithButtons {
    grid-column: 3/7;
    grid-row: 1;
  }
  .canvas {
    grid-column: 3/6 ;
    grid-row: 1/6;
  }
  .buttons {
    grid-column: 3/7;
    grid-row: 2;
  }
  .editCanvas {
    grid-column: 6/10;
    grid-row: 1/6;
  }
  .fileDropRef {
    grid-column: 3/6 ;
    grid-row: 1/6;
  }
  #canvas {
    height: 300px ;
    width: 125px;
  }
  .filterSelect {
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
  }
  .checkboxes {
    margin-left: 25px;
    font-size: 15px;
  }
  .fileDropWithButtons {
    text-align: center;
    width: 300px;
    height: 300px;
  }
  .fileDropZone{  
    margin-top: 20px;
    width: 300px;
    height: 150px;
    border: dashed 3px black;
    text-align: center;
  }
  .fileDropZone a {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .browse {
    border-radius: 6px;
    background-color: rgba(114, 36, 187, 0.397);
    width: 50%;
    vertical-align: middle;
    font-size: 15px;
    padding: 10px;
    margin-left: 65px;
  }
  #upload {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .percentage {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  .chip-filters {
    margin-top: 150px;
  }
  #fileDropRef {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 300px;
    height: 150px;
    opacity: 0;
  }
  #uploaded_im {
    margin-top: 20px;
    position: absolute;
    width: 300px;
    height: 150px;
    margin-left: 0px;
  }
  .buttons {
    margin-top: 30px;
    margin-left: 0px;
  }
  .buttons button {
    margin-top: 20px;
    margin-left: 40px;
  }
  .editCanvas {
    margin-top: 20px;
  }
  #bitmap {
    max-width: 300px;
    max-height: 150px;
    width: 300px;
    height: 150px;
  }
  .percentage {
    margin-top: 30px;
    margin-left: 70px;
    text-align: center;
  }
  #percentage {
    opacity: 0;
  }
  #circle {
    margin-left: 30px;
  }
  .percentage a {
    margin-left: 4px;
  } 
}

@media only screen and (min-width: 1600px) {
  .html-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .filterSelect {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .checkboxes {
    grid-column: 1/3;
    grid-row: 1;
  }
  .chip-filters {
    grid-column: 1/5;
    grid-row: 2/9;
  }
  .percentage {
    grid-column: 3/6;
    grid-row: 3/5;
  }
  .fileDropZone {
    grid-column: 3/6;
    grid-row: 1/6;
  }
  .canvas {
    grid-column: 3/6 ;
    grid-row: 1/6;
  }
  .buttons {
    grid-column: 3/6;
    grid-row: 2;
  }
  .editCanvas {
    grid-column: 6/10;
    grid-row: 1/6;
  }
  .fileDropRef {
    grid-column: 3/6 ;
    grid-row: 1/6;
  }
  .filterSelect {
    margin-left: 25px;
    margin-top: 20px;
    font-size: 20px;
  }
  .checkboxes {
    margin-left: 25px;
    font-size: 20px;
    margin-top: 330px;
  }
  .fileDropWithButtons {
    text-align: center;
    width: 400px;
    height: 400px;
  }
  .fileDropZone{  
    margin-top: 20px;
    width: 400px;
    height: 200px;
    border: dashed 3px black;
    text-align: center;
  }
  .fileDropZone a {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .browse {
    border-radius: 6px;
    background-color: rgba(114, 36, 187, 0.397);
    width: 50%;
    vertical-align: middle;
    font-size: 25px;
    padding: 10px;
    margin-left: 90px;
  }
  #upload {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .percentage {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  #fileDropRef {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 400px;
    height: 200px;
    opacity: 0;
  }
  #uploaded_im {
    margin-top: 20px;
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 0px;
  }
  .chip-filters {
    margin-top: -10px;
  }
  .buttons {
    margin-top: 30px;
    margin-left: 40px;
  }
  .buttons button {
    margin-top: 20px;
    margin-left: 0px;
  }
  .editCanvas {
    margin-top: 20px;
  }
  #bitmap {
    max-width: 400px;
    max-height: 200px;
    width: 400px;
    height: 200px;
  }
  #data {
    margin-right: 20px;
  }
  .percentage {
    margin-top: 30px;
    margin-left: 118px;
    text-align: center;
  }
  #percentage {
    opacity: 0;
  }
  #circle {
    margin-left: 30px;
  }
  .percentage a {
    margin-left: 4px;
  } 
}
/*Uploaded Image mtop -250 h 200px w 400px
Edited Canvas h 200px w 400px

/* .canvas button input {
  font-family: sans-serif;
  font-size: 15px;
}

.fileDropZone input {
  opacity: 0;
  width: 400px;
  height: 200px;
  border: 1px solid black
}

.fileDropRef {
  color: black;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #cb99c946;
  padding: 8px 24px;
  position: absolute; 
  text-align: center; 
  margin-top: 20px;
  font-size: 20px;
  margin-left: 100px;
}

input#fileDropRef {
  margin-right: 80px;
  display: block;
  margin-left: -125px;
  margin-top: -155px;
}
.percentage {
  height: 150px;
  width: 150;
}

.canvas canvas {
  border-color: #ffffff;
}

/* #table1
{
  border: 1px solid #000000;
}
td
{
  border:1px solid #000000;
}
td#placeho {
  width: 350px;
  border-color: aqua;
}

a {
  font-size: 25px;
  font-family: sans-serif;
}

#noFilter {
  text-align: center;
}

label {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

.abstand {
  margin-left: 20px;
}

#data {
  margin-left: 31.5px;
  margin-top: 40px;
}

#download {
  margin-left: 31.5px;
  margin-top: 40px;
}

.buttons
{
  text-align: center;
}

.select-wrap {
  font-family: sans-serif;
  border: 1px solid #777;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 1px 5px;
  width: 200px;
  background-color: #cb99c9b2;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 20px;
}

.select-wrap label {
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  padding: 2px 5px 0;
}

select {
  background-color: #ebebeb;
  border: 0px;
}

#scale {
  margin-right: 30px;
}

#progressFull {
  width: 100%;
  background-color: grey;
  margin-top: 0px;
  height: 30px;
  border-width: 10px;
  border-color: #000000;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
}

#runningBar {
  margin-top: 30px;
  width: 0%;
  height: 30px;
  border-width: 10px;
  border-color: #000000;
  border-radius: 5px;
  background-color: blue;
  text-align: center;
  opacity: 0;
}

#distance {
  margin-top: 50px;
}

.percentage {
  margin-left: 63px;
  text-align: center;
  color: #000000;
  border: 1px dashed purple;
  opacity: 0;
}

.percentage a {
  font-size: 20px;
  margin-top: -200px;
}

#percentage {
  border-width: 1px solid #000000;
  margin-top: 0px;
  margin-left: 53px;
  height: 150px;
  width: 150px;
}

#circle {
  margin-left: 25px;
}

.checkSpeed {
  margin-top: 10px;
  margin-left: 40px;
}

.checkSpeed input {
  width: 30px;
}

.invisible {
  opacity: 0;
}

.fileDropZone {
  width: 400px;
  height: 200px;
  margin-left: 40px;
  text-align: center;
  border: dashed 1px black;
  margin-top: -100px;
  font-family: Roboto;
}

.fileDropZone a {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  position: absolute;
}



.filternone {
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}

.td-origCanvas {
  text-align: center;
}

#upload {
  position: absolute; 
  margin-top: 15px;
  margin-bottom: 15px;
}

.fileDropRef a
{
  margin-top: 0px;
}
.bitmap canvas {
  margin-top: 0px;
}

.mat-mdc-progress-spinner {
  text-align: center;
}
*/

/* .bitmap canvas
{
  border: 1px solid #ffffff;
} */ 